/* CSS files add styling rules to your content */

body {
  margin: 2em;
}

table.a {
  font-family: Helvetica;
  table-layout: auto;
  width: 100%;  
}

table {border: none;}

thead{
  font-family: 'Rock Salt', cursive;
  color: white;
  background: url("/assets/leopardskin.jpg");
}

tfoot{
  font-family: 'Rock Salt', cursive;
  color: white;
  background: url("/assets/leopardskin.jpg");
  margin: 2em;
}

td {
  text-align: center;
}

.odd {
  background-color: #ff33cc;
}

.even {
  background-color: #e495e4;
}