/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neu", "Rock Salt";
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table.a {
  table-layout: auto;
  width: 100%;  
}

table {border: none;}

thead,
tfoot {
    background-color: #070808;
    color: #fff;
}

td {
  text-align: center;
}

.odd {
  background-color: #ff33cc;
}

.even {
  background-color: #e495e4;
}